/* IMPORTANDO FONTS PARA SEU PROJETO, APARTIR DO GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Amaranth:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');

/* DEIXANDO A MARGIN E PADDING DE SEU WINDOW ZERADO */
* {
    padding: 0;
    margin: 0;

}

/* APLICANDO CONFIGURACOES GLOBAIS PARA SEU PROJETO */
html, body {
    height: 100%;

    font-family: 'Titillium Web', sans-serif;
    font-size: 17px;

}

/* APLICANDO CONFIGURACOES GLOBAIS PARA O H1 */
h1 {
    font-family: 'Amaranth', sans-serif;
    font-size: 44px;

    color: var(--text-title);

}

/* APLICANDO CONFIGURACOES GLOBAIS PARA O H2 */
h2 {
    font-family: 'Amaranth', sans-serif;
    font-size: 28px;

    color: var(--text-title);

}

/* APLICANDO CONFIGURACOES GLOBAIS PARA O H3 */
h3 {
    font-size: 14px;
    font-weight: 400;

    color: var(--text-author);

}

/* APLICANDO CONFIGURACOES GLOBAIS PARA O P */
p {
    color: var(--text-default);

}

/* APLICANDO CONFIGURACOES GLOBAIS PARA O HR */
hr {
    width: 85%;
    height: auto;

    margin-left: 5%;
    
    border-top: 0px solid var(--border-style-search);
    border-left: 0px solid var(--border-style-search);
    border-right: 0px solid var(--border-style-search);
    border-bottom: 1px solid var(--border-style-search);

}

/* CRIANDO MACROS/VARIAVEIS PARA REUTILIZACAO DE CORES */
:root {
    --text-default: #262626;
    --text-title: #303030;
    --text-author: #00000080;
    --text-white: #f1f1f1;

    --border-style-search: #e8e8e8;

    --background-color-button: #3bc;

}

/* HEADER*/
header {
    padding: 5%; /* DEFINE O ESPACAMENTO INTERNO DO OBJETO */

    width: 90%; /* DEFINE A LARGURA DO OBJETO */
    height: auto; /* DEFINE A ALTURA DO OBJETO*/

    display: flex; /* FAZ COM QUE OS OBJETOS DENTRO DELE FIQUEM FLEXIVEIS */
    align-items: center; /* ALINHA TODOS OS OBJETOS DENTRO DELE NO CENTRO */
    justify-content: space-between; /* INSERE ESPACAMENTOS ENTRE TODOS OS OBJETOS PARA QUE OCUPEM O OBJETO MAE INTEIRO */

}

/* HEADER - MENU - LOGO */
header #logo {
    width: 50%;
    height: auto;

}

/* HEADER - MENU - SEARCH */
header #menu {
    width: 50%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center; /* ALINHA OS OBJETOS DENTRO DELE AO CENTRO */

}

header #menu #search {
    width: 50%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--border-style-search); /* ESTILIZA AS BORDAS DE UM OBJETO */
    border-radius: 3px 3px 3px 3px; /* ESTILIZA O RAIO DE UM OBEJTO(QUINAS) */

}

header #menu #search input {
    padding: 4.5%;

    width: 86%;
    height: auto;

    border: none;
    border-radius: 3px 0px 0px 3px;

}

header #menu #search #iconSearch {
    padding: 4%;

    width: 6%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--background-color-button); /* ADICIONA UMA COR DE FUNDO AO OBJETO */
    border-radius: 0px 3px 3px 0px;

}

header #menu #search #iconSearch svg {
    padding: 10%;

    width: 80%;
    height: auto;

    color: var(--text-white); /* ADICIONA UMA COR AO OBJETO EM QUESTAO, SEJA ELE UMA IMAGEM/ICONE OU TEXTO */

}

/* HEADER - MENU - SOCIAL MIDIAS */
header #menu #socialMedias {
    width: 50%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;

}

header #menu #socialMedias #iconMedia {
    padding: 4%;
    margin: 0.5%;

    width: 6%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--background-color-button);
    border-radius: 3px 3px 3px 3px;

}

header #menu #socialMedias #iconMedia svg {
    padding: 10%;

    width: 80%;
    height: auto;

    color: var(--text-white);

}

/* SECTION */
section {
    padding: 0% 5% 5% 5%;

    width: 90%;
    height: auto;

}

/* SECTION - MENU */
section nav {
    width: 100%;
    height: auto;

}

section nav ul {
    display: flex;

    list-style: none;

    font-size: 17px; /* AJUSTA O TAMANHO DE UMA FONTE, PODEMOS USAR: px, %, em(pega o valor padrao(html, body), e utiliza ele como refencia para aumentar proporcionalmente a fonte), rem(pega o valor do objeto mae, e utiliza ele como refencia para aumentar proporcionalmente a fonte) */

    color: var(--text-default);

}

section nav ul a {
    width: auto;
    height: auto;

    text-decoration: none; /* RETIRA UMA FUNCIONALIDADE PADRAO DE ALGO, NESSE CASO, ESTA TIRANDO A FUNCIONALIDADE DE APARECER O SINAL DE LINK, AO PASSAR O MOUSE POR CIMA DE UM TEXTO */

    color: var(--text-default);

}

section nav ul a li {
    padding: 16px 20px;

    transition: color, .5s; /* CONFIGURAR UMA TRANSICAO PARA ALGUM TIPO DE VARIAVEL DE UM DETERMINADO OBJETO, PODEM SER PASSADOS VARIOS PARAMETROS DENTRO DE transition: color, background-color, width, .5s; */

}

section nav ul a li:hover {
    color: var(--text-author);

}

section nav ul a .activate {
    border-top: 5px solid var(--text-default);

    color: var(--text-author);

}

/* SECTION - CONTAINER */
section #container {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;

}

/* SECTION - CONTAINER - CONTEUDO */
section #container #conteudo {
    width: 70%;
    height: auto;

}

section #container #conteudo #postagem {
    width: 100%;
    height: auto; 

    display: flex;
    align-items: center;
    justify-content: center;

}

section #container #conteudo #postagem #img {
    padding: 1%;

    width: 48%;
    height: auto;

}

section #container #conteudo #postagem #img img {
    width: 100%;
    height: auto;

}

section #container #conteudo #postagem #dados {
    padding: 1%;

    width: 44%;
    height: auto;

}

section #container #conteudo #postagem #dados button {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 2%;
    margin-top: 5%; /* AJUSTA A MARGE DE UM OBJETO, NESSE CASO O EFEITO E DE FORA PARA DENTRO, E O INVERSO DO padding */

    width: 40%;
    height: auto;

    background-color: var(--background-color-button);
    
    border: none;

}

section #container #conteudo #postagem #dados button p {
    width: 85%;
    height: auto;

    color: var(--text-white);

}

section #container #conteudo #postagem #dados button svg {
    margin-left: 1%;

    width: 13%;
    height: auto;

    color: var(--text-white);

}

/* SECTION - CONTAINER - RECOMENDADOS */
section #container #recomendado {
    width: 30%;
    height: 100vh;
    
    bottom: 0;

    position: sticky;

}

section #container #recomendado h2 {
    font-size: 20px;

    margin-bottom: 5%;

}

section #container #recomendado #conteudoRecomendado {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;

}

section #container #recomendado #conteudoRecomendado #img {
    width: 30%;
    height: auto;

}

section #container #recomendado #conteudoRecomendado #img img {
    width: 100%;
    height: auto;

}

section #container #recomendado #conteudoRecomendado #dados {
    padding-left: 2%;

    width: 66%;
    height: auto;

}

section #container #recomendado #conteudoRecomendado #dados a {
    text-decoration: none;

    color: var(--background-color-button);

}